/*Pagina*/
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.927608543417367) 0%,
    rgba(51, 75, 228, 0.9304096638655462) 1%,
    rgba(0, 212, 255, 1) 100%
  );
}
.Github {
  text-align: justify;
}
.Github img {
  height: 100px;
  width: 100px;
  border-radius: 30;
}

.Correo {
  text-align: justify;
}
.Correo img {
  height: 100px;
  width: 100px;
}

/*Formulario*/
img {
  height: 300px;
  width: 300px;
  border-radius: 20%;
}

h1 {
  text-align: justify;
}

h2 {
  text-align: justify;
}

body {
  text-align: justify;
}

form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 400px;
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;

  width: 300px;
  box-sizing: border-box;

  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;

  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}
